img{
    max-width: 400px;
    max-height: 2000px;
}
.card-container{
    display: grid;
    align-items: center;
    
    grid-template-areas: 
    "card card card"
    "card card card"
    "card card card"
}
main{
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(126,23,209,1) 21%, rgba(165,24,180,1) 100%);
}

h4{
    font-weight: bold;
}